<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
        <title>Nedelapare</title>
    </head>
    <body>
        <div class="container">
            <p class="subject">Алгебра</p>
            <select class = "select-week">
                <option>Каждая неделя</option>
                <option>Четная неделя</option>
                <option>Нечетная неделя</option>
            </select>
            <div class="line">
                <div class="line-object">
                    <a class="week-day">Пн</a>
                    <div class="border-week"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Вт</a>
                    <div class="border-week"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Ср</a>
                    <div class="border-week"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Чт</a>
                    <div class="border-week"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Пт</a>
                    <div class="border-week"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Сб</a>
                    <div class="border-week"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Вс</a>
                    <div class="border-week"></div>
                </div>
            </div>
            <a class="time-lesson">8:00-9:35</a>
            <div class="line">
                <div class="line-object">
                    <a class="week-day">Лекция</a>
                    <div class="border-type"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Практика</a>
                    <div class="border-type"></div>
                </div>
                <div class="line-object">
                    <a class="week-day">Лаб. работа</a>
                    <div class="border-type"></div>
                </div>
                <form>
                    <input class="field-place" placeholder="Другое">
                </form>
            </div>
            <div class="line">
                <div class="line-object">
                    <a class="week-day">Лекция</a>
                </div>
                <select class = "select-place">
                    <option>Аудитория</option>
                    <option>Четная неделя</option>
                    <option>Нечетная неделя</option>
                </select>
                <form>
                    <input class="field-number" placeholder="1356">
                </form>
            </div>
            <div class="line">
                <div class="line-object">
                    <a class="week-day">Преподаватель</a>
                </div>
                <form>
                    <input class="field-name" placeholder="Фамилия Имя Отчество">
                </form>
            </div>
            <div class="line-object">
                <a class="week-day">Домашнее задание</a>
            </div>
            <form>
                <textarea class="field-homework"></textarea>
            </form>
            <div class="lasts">
                <div class="last">
                    <input class="cancel-button" type="submit" value="Отмена">
                </div>
                <div class="last">
                    <input class="delete-button" type="submit" value="Удалить">
                </div>
                <div class="last">
                    <input class="save-button" type="submit" value="Сохранить">
                </div>
            </div>
        </div>
    </body>
</html>