<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Nedelapare</title>
    </head>
    <body>
        <div class="container">
            <p class="group-name">Алгебра</p>
            <select class = "select-week">
                <option>Каждая неделя</option>
                <option>Четная неделя</option>
                <option>Нечетная неделя</option>
            </select>
            <div class="days">
                <div class="day">
                    <a class="week-day">Пн</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Вт</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Ср</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Чт</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Пт</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Сб</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Вс</a>
                    <div class="border-week"></div>
                </div>
            </div>
            <p class="time-lesson">8:00-9:35</p>
            <div class="days">
                <div class="day">
                    <a class="week-day">Лекция</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Практика</a>
                    <div class="border-week"></div>
                </div>
                <div class="day">
                    <a class="week-day">Лаб. работа</a>
                    <div class="border-week"></div>
                </div>
                <form>
                    <input class="field-place" placeholder="Другое">
                </form>
            </div>
            <div class="days">
                <div class="day">
                    <a class="week-day">Лекция</a>
                </div>
                <select class = "select-place">
                    <option>Аудитория</option>
                    <option>Четная неделя</option>
                    <option>Нечетная неделя</option>
                </select>
                <form>
                    <input class="field-number" placeholder="1356">
                </form>
            </div>
            <div class="days">
                <div class="day">
                    <a class="week-day">Преподаватель</a>
                </div>
                <form>
                    <input class="field-name" placeholder="Фамилия Имя Отчество">
                </form>
            </div>
            <div class="day">
                <a class="week-day">Домашнее задание</a>
            </div>
            <form>
                <input class="field-homework">
            </form>
            <div class="lasts">
                <div class="last">
                    <input class="cancel-button" type="submit" value="Отмена">
                </div>
                <div class="last">
                    <input class="delete-button" type="submit" value="Удалить">
                </div>
                <div class="last">
                    <input class="save-button" type="submit" value="Сохранить">
                </div>
            </div>
        </div>
        <div class="menu">
            <div>
                <img src="../static/img/default_avatar.svg">
                <img src="../static/img/border_avatar.svg">
            </div>
            <div class="menu-button">
                <img src="../static/img/active_menu.svg">
                <img src="../static/img/sheldue.svg">
            </div>
            <div class="menu-button">
                <img src="../static/img/news.svg">
            </div>
            <div></div>
            <div class="menu-button">
                <img src="../static/img/sing_out.svg">
            </div>
        </div>
    </body>
</html>