<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style.css">
        <title>Nedelapare</title>
    </head>
    <body>
        <div class="container">
            <div class="head">
                <img src="./image/logo.svg">
            </div>
            <img class="registration-img" src="./image/done.svg">
            <p class="donereg-message">Вы успешно зарегистрировались!</p>
            <a class="donereg-button" href="./singin.html">
                <p>Войти</p>
            </a>
        </div>
    </body>
</html>