{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Nedelapare</title>
    </head>
    <body>
        <div class="container">
            <div class="head">
                <img src="{% static 'img/logo.svg' %}" alt="Nedelapare">
            </div>
            {% if success %}
            <img class="registration-img" src="{% static 'img/done.svg' %}">
            <p class="donereg-message">Вы успешно зарегистрировались!</p>
            <a class="donereg-button" href="/signin/">
                <p>Войти</p>
            </a>
            {% else %}
            Error, invalid token!
            {% endif %}
        </div>
    </body>
</html>