<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Nedelapare</title>
        <script src="/static/js/xhr_api.js"></script>
        <script src="/static/js/auth.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="head">
                <img src="../static/img/logo.svg">
            </div>
            <p class="register-h1">Выбор группы</p>
            <div class="group_change-settings">
                <div class="group_change-setting">
                    <p class="group_change-setting-name">Университет:</p>
                    <select class="group_change-setting-select" id="university-select" >
                        <option disabled selected value="0">Выберете университет</option>
                    </select>
                </div>
                <div class="group_change-setting">
                    <p class="group_change-setting-name">Институт/Факультет:</p>
                    <select class="group_change-setting-select" id="faculty-select">
                        <option disabled selected>Выберете факультет</option>
                    </select>
                </div>
                <div class="group_change-setting">
                    <p class="group_change-setting-name">Группа:</p>
                    <select class="group_change-setting-select" id="group-select">
                        <option disabled selected>Выберете группу</option>
                    </select>
                </div>
                <div class="buttons" id="group_change-buttons">
                    <div class="button" id="group_change-button-ok" onclick="send_group()">
                        <p>Подтвердить</p>
                    </div>
                    <div class="button" id="group_change-button-cancel" onclick="location.href='../profile'">
                        <p>Отмена</p>
                    </div>
                </div>
                <p class="group_change-text">Если в списке нет необходимого пункта, обратитесь в <a>поддержку</a>. Мы добавим ваш университет/институт/факультет/группу.</p>
            </div>
        </div>
        <script src="/static/js/group_change.js"></script>
    </body>
</html>