<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Nedelapare</title>
        <script src="/static/js/auth.js"></script>
    </head>
    <body>
        <div class="backdrop"></div>
        <div class="container">
            <div class="schedule-container">
                <p class="group-name" id="group"></p>
                <div class="schedule" id="schedule"></div>
            </div>
            <script src="/static/js/schedule.js"></script>
        </div>
        <div class="menu" id="menu_interact">
            <div class="menu-button" id="user">
                <img src="/static/img/default_avatar.svg">
                <img src="/static/img/border_avatar.svg">
                <p class="menu-text" id="user-text">Людо Авариус</p>
            </div>
            <div class="menu-button" id="schedule">
                <img src="/static/img/sheldue.svg">
                <p class="menu-text" id="schedule-text">Расписание</p>
            </div>
            <div class="menu-button" id="news">
                <img src="/static/img/news.svg">
                <p class="menu-text" id="news-text">Новости</p>
            </div>
            <div></div>
            <div class="menu-button" id="exit">
                <img src="/static/img/sing_out.svg">
                <p class="menu-text" id="exit-text">Выйти</p>
            </div>
        </div>
        <script src="/static/js/menu.js"></script>
        <a class="add-lesson" href="../add"></a>
    </body>
</html>