<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/oursite/css/style.css">
        <title>Nedelapare</title>
    </head>
    <body>
        <div class="container">
            <div class="schedule-container">
                <p class="group-name">20ГР1</p>
                <div class="schedule">
                    <div class="day">
                        <p class="day-of-the-week">Понедельник</p>
                        <p class="date">03.07</p>
                    </div>
                    <div class="lessons">
                        <div class="lesson">
                            <div class="lesson-head">
                                <div class="time">
                                    <p>9:00 10:35</p>
                                </div>
                                <div>
                                    <p class="lesson-name">Алгебра</p>
                                    <p class="other-info">Лекция</p>
                                    <p class="other-info">Аудитория 1356</p>
                                </div>
                            </div>
                            <p class="home-work">Параграф 14, 15, Номера 456-478</p>
                            <div class="border"></div>
                        </div>
                        <div class="lesson">
                            <div class="lesson-head">
                                <div class="time">
                                    <p>10:45 12:00</p>
                                </div>
                                <div>
                                    <p class="lesson-name">Элективные курсы по физической культуре и спорту</p>
                                    <p class="other-info">Занятие</p>
                                    <p class="other-info">Спорт площадка</p>
                                </div>
                            </div>
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="day">
                        <p class="day-of-the-week">Вторник</p>
                        <p class="date">04.07</p>
                    </div>
                    <div class="lessons">
                        <p class="empty">Пусто</p>
                    </div>
                    <div class="day">
                        <p class="day-of-the-week">Среда</p>
                        <p class="date">05.07</p>
                    </div>
                    <div class="lessons">
                        <p class="empty">Пусто</p>
                    </div>
                    <div class="day">
                        <p class="day-of-the-week">Четверг</p>
                        <p class="date">06.07</p>
                    </div>
                    <div class="lessons">
                        <p class="empty">Пусто</p>
                    </div>
                    <div class="day">
                        <p class="day-of-the-week">Пятница</p>
                        <p class="date">07.07</p>
                    </div>
                    <div class="lessons">
                        <p class="empty">Пусто</p>
                    </div>
                    <div class="day">
                        <p class="day-of-the-week">Суббота</p>
                        <p class="date">08.07</p>
                    </div>
                    <div class="lessons">
                        <p class="empty">Пусто</p>
                    </div>
                    <div class="day">
                        <p class="day-of-the-week">Воскресенье</p>
                        <p class="date">09.07</p>
                    </div>
                    <div class="lessons">
                        <p class="empty">Пусто</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div>
                <img src="../static/oursite/img/default_avatar.svg">
                <img src="../static/oursite/img/border_avatar.svg">
            </div>
            <div class="menu-button">
                <img src="../static/oursite/img/active_menu.svg">
                <img src="../static/oursite/img/sheldue.svg">
            </div>
            <div class="menu-button">
                <img src="../static/oursite/img/news.svg">
            </div>
            <div></div>
            <div class="menu-button">
                <img src="../static/oursite/img/sing_out.svg">
            </div>
        </div>
        <a class="add-lesson" href="./add.html"></a>
    </body>
</html>