{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={% static "oursite/css/style.css" %}>
        <title>Nedelapare</title>
    </head>
    <body>
        <div class="container">
            <div class="background">
                <div class="enter-title">
                    <p>Вход в</p>
                    <img src={% static "oursite/img/mini_logo.svg" %}>
                </div>
                <form>
                    <input class="singin-input" type="email" id="email" placeholder="Email"><br>
                    <input class="singin-input" type="password" id="password" placeholder="Пароль">
                    <input class="singin-enter-button" type="submit" value="Войти">
                </form>
                <div class="singin-link-container">
                    <p>или</p>
                    <a href={% url 'reg' %}>Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </body>
</html>