@import url("fonts/NoirPro/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Main */

:root {

    /* Light theme */

    --white-color: #fff;
    --main-blue-color: #397DFF;
    --light-gray-color: #B5D2FF;
    --gray-color: #838383;
    --light-blue-color: #5e96ff;
    --white-blue-color: #82B3FF;
    --back-blue-color: #78ADFE;
    --red-color: #FF3939;
    --pink-color: #ff83a2;

    /* Dark theme */

    --black-color: #000000;

}

body {
    margin: 0;
}

.container{
    margin: 0px auto;
    width: 1170px;
}

.head{
    margin-top: 42px;
    display: flex;
}

/* singin */

.background{
    width: 770px;
    margin: 70px auto;
    background-color: var(--light-gray-color);
    border-radius: 40px;
}

.enter-title{
    display: flex;
    padding: 25px 259px;
    padding-bottom: 0px;
}

.enter-title p{
    margin: 0px;
    width: 166px;
    height: 73px;
    font: bold 48px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.enter-title img{
    padding-top: 5px;
}

.singin-input{
    margin: 20px 200px;
    margin-bottom: 0px;
    border: none;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    font: 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
    outline: none;
    text-indent: 10px;
}

.singin-enter-button{
    margin: 67px 310px;
    margin-bottom: 25px;
    width: 150px;
    height: 50px;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    font: 300 24px 'NoirPro', sans-serif;
    color: var(--white-color);
    text-decoration: none;
    border: none;
    transition: 0.3s linear;
}

.singin-enter-button:hover{
    margin: 62px 305px;
    margin-bottom: 20px;
    width: 160px;
    height: 60px;
    font-size: 26px;
    background-color: var(--light-blue-color);
    cursor: pointer;
}

.singin-link-container{
    padding: 25px 271px;
    padding-top: 0px;
    font: 300 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.singin-link-container p{
    margin: 0px;
    padding: 0px 94px;
}

.singin-link-container a{
    color: var(--main-blue-color);
}

.singin-link-container a:hover{
    color: var(--light-blue-color);
}

/* register */

.register-head-label{
    margin-left: 662px;
    font: 300 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.register-head-button{
    margin: auto 9px;
    margin-right: 0px;
    width: 150px;
    height: 50px;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    transition: 0.3s linear;
    text-decoration: none;
}

.register-head-button p{
    margin: 7px 42px;
    font: 300 24px 'NoirPro', sans-serif;
    color: var(--white-color);
}

.register-head-button:hover{
    background-color: var(--light-blue-color);
    cursor: pointer;
}

.register-h1{
    margin: 20px 473px;
    margin-bottom: 0px;
    font: 500 36px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.register-checkboxes{
    display: flex;
    margin-top: 30px;
}

.register-checkboxes input{
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border: 2px solid var(--main-blue-color);
    margin: auto 7px;
    margin-left: 0px;
}

.register-checkboxes input:checked{
    background-image: url("./img/checkbox.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.register-checkboxes label{
    font: 500 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
    margin-right: 16px;
}

.register-input{
    margin-top: 30px;
}

.register-input p{
    margin: 0px;
    font: 500 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.register-input input{
    margin-top: 6px;
    width: 570px;
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--main-blue-color);
    border-radius: 10px;
    font: 24px 'NoirPro', sans-serif; 
    outline: none;
    color: var(--main-blue-color);
    text-indent: 10px;
}

::placeholder{
    color: var(--gray-color)
}

.register-input input:focus{
    outline: none !important;
    border:1px solid var(--main-blue-color);
}

.register-next-button{
    border: 0px;
    margin-top: 47px;
    width: 150px;
    height: 50px;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    transition: 0.3s linear;
    font: 300 24px 'NoirPro', sans-serif;
    color: var(--white-color);
}

.register-next-button:hover{
    background-color:#5e96ff;
    cursor: pointer;
}

/* waiting */

.registration-img{
    margin: 25px 465px;
    margin-bottom: 0px;
}

.waiting-message{
    width: 770px;
    height: 110px;
    margin: 45px 200px;
    margin-bottom: 0px;
    font: 500 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
    text-align: center;
}

.waiting-message2{
    margin: 20px 470px;
    font: 300 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

/* donereg */

.donereg-message{
    width: 770px;
    height: 42px;
    margin: 45px 200px;
    margin-bottom: 0px;
    font: 500 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
    text-align: center;
}

.donereg-button{
    display: flex;
    margin: 13px 510px;
    width: 150px;
    height: 50px;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    transition: 0.3s linear;
    text-decoration: none;
}

.donereg-button p{
    margin: 7px 42px;
    font: 300 24px 'NoirPro', sans-serif;
    color: var(--white-color);
}

.donereg-button:hover{
    background-color: var(--light-blue-color);
    cursor: pointer;
}

/* schedule */

.menu{
    position: fixed;
    top: 0px;
    width: 60px;
    height: 100%;
    background-color: var(--light-blue-color);
    transition: width 0.3s;
}

.menu div{
    position: relative;
    width: 60px;
    height: 60px;
    transition: width 0.3s;
}

.menu-button:hover{
    background-color: var(--main-blue-color);
    transition: width 0.3s;
}

.menu img{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
}

#schedule{
    background-color: var(--white-color);
}

#exit-text{
    color: var(--red-color);
}

#news-text{
    color: var(--white-color);
}

#user-text{
    color: var(--white-color);
    text-decoration: underline;
}

.menu-text{
    font: 24px 'NoirPro-Regular', sans-serif;
    margin: 0px;
    margin-left: 80px;
    padding-top: 15px;
    color: var(--main-blue-color);
    opacity: 0;
}

.schedule-container{
    margin-left: 80px;
}

.group-name{
    margin: 0px;
    margin-top: 26px;
    font: bold 40px 'Inter', sans-serif;
    color: var(--main-blue-color);
}

.schedule{
    margin: 0px;
    margin-top: 30px;
}

.schedule hr{
    border: none;
    height: 1px;
    background-color: var(--white-blue-color);
}

.day{
    display: flex;
}

.day-of-the-week{
    margin: 0px;
    margin-right: 20px;
    font: normal 24px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.date{
    margin: 0px;
    padding-top: 5px;
    font: bold 24px 'Inter', sans-serif;
    color: var(--main-blue-color);
}

.empty{
    margin: 0;
    margin-top: 5px;
    font: normal 20px 'NoirPro', sans-serif;
    color: var(--white-blue-color);
}

.lessons{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 10px;
    width: max-content;
    /*max-width: 1465px;*/
}

.lessons::-webkit-scrollbar{
    size: 0px;
}

.lesson{
    position: relative;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 450px;
    padding-bottom: 12px;
    padding-right: 12px;
    width: max-content;
    height: max-content;
}

.lesson-head{
    display: flex;
}

.time{
    width: min-content;
    height: min-content;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--back-blue-color);
    border-radius: 20px 0px 20px 0px;
}

.time p{
    margin: 12px 19px;
    max-width: 56px;
    text-align: center;
    font: bold 20px 'Inter', sans-serif;
    color: var(--white-color);
}

.lesson-name{
    margin: 12px 0px;
    width: max-content;
    max-width: 340px;
    font: bold 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.other-info{
    margin: 0px;
    width: max-content;
    max-width: 340px;
    font: normal 16px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.home-work{
    margin: 10px 0px 0px 16px;
    width: max-content;
    max-width: 450px;
    font: normal 16px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.border{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 4px solid var(--main-blue-color);
    border-radius: 20px;
}

.add-lesson{
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 60px;
    right: 60px;
    background-image: url("/img/add.svg");
    transition: 0.3s linear;
    border-radius: 60%;
}

.add-lesson:hover{
    background-image:url("./img/add_active.svg");
    border-radius: 60%;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    z-index: 0; 

    background-image:url("/img/add_active.svg");
}

.subject{
    margin: 0px;
    margin-top: 26px;
    font: bold 48px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}

.line-object{
    display: flex;
    margin-bottom: 2px;
    position: relative;
    margin: 0px;
    margin-right: 2px;
    padding-bottom: 12px;
    padding-right: 12px;
    width: max-content;
    height: max-content;
}

.line{
    display: flex;
    overflow-y: hidden;
    position: relative;
    margin: 0px;
    margin-right: 20px;
    margin-top: 0px;
    padding-bottom: 12px;
    padding-right: 12px;
    width: max-content;
    height: max-content;
}

.select-week{
    margin-top: 20px;
    width: 220px;
    font: 24px 'NoirPro-Medium', sans-serif;
    color: var(--main-blue-color);  
    border: none;
}

.hidden {
    display: none;
}

.week-day{
    margin: 10px 4px;
    width: max-content;
    font: bold 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
}



.circle {
    top: 0;
    left: 0;
    width: 80%;
    height: 70%;
    margin: 10px 7px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
    border: 1px solid var(--main-blue-color);
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
}

.circle.selected {
    background-color: var(--main-blue-color);
    color: white;
}

.rectangle {
    top: 0;
    left: 0;
    /* width: 80%; */
    height: 24px;
    margin: 10px 4px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);
    border: 1px solid var(--main-blue-color);
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    white-space: nowrap;
}

.selected {
    background-color: var(--main-blue-color);
    color: white;
}

.week-day:active{
    background-color: var(--main-blue-color);
}

.days{
    display: flex;
    overflow-y: hidden;
    margin-top: 20px;
    width: max-content;
}

.border-type{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 70%;
    border: 1px solid var(--main-blue-color);
    border-radius: 18px;
}


.time-lesson{
    margin: 1px;
    margin-top: -10px;
    font: bold 28px 'NoirPro', sans-serif;
    width: 200px;
    height: 44px;
    background-color: var(--white-color);
    color: var(--main-blue-color);
    Border: none;
    outline: none;

}

.time-lesson::placeholder{
    color: var(--main-blue-color);
}

.field-place{
    font: 20px 'NoirPro', sans-serif;
    margin-top: 10px;
    margin-left: 6px;
    width: 370px;
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--main-blue-color);
    border-radius: 10px;
    color: var(--main-blue-color);
}

.field-place:focus {
    outline: none !important;
    border:1px solid var(--main-blue-color);
}

.select-place{
    margin-top: -12px;
    width: 135px;
    font: bold 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);  
    border: none;
}

.select{
    margin-top: -23px;
    width: 130px;
    font: bold 20px 'NoirPro', sans-serif;
    color: var(--main-blue-color);  
    border: none;
}

.field-number{
    margin-top: 0px;
    font: 20px 'NoirPro', sans-serif;
    margin-left: 6px;
    width: 100px;
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--main-blue-color);
    border-radius: 10px;
    color: var(--main-blue-color);
}

.field-number:focus {
    outline: none !important;
    border:1px solid var(--main-blue-color);
}

.field-name{
    margin-top: 0px;
    font: 20px 'NoirPro', sans-serif;
    margin-left: 6px;
    width: 370px;
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--main-blue-color);
    border-radius: 10px;
    color: var(--main-blue-color);
}

.field-name:focus {
    outline: none !important;
    border:1px solid var(--main-blue-color);
}

.field-homework{
    margin-top: -20px;
    width: 1000px;
    height: 100px;
    background-color: var(--white-color);
    font: 20px 'NoirPro', sans-serif;
    border: 1px solid var(--main-blue-color);
    color: var(--main-blue-color);
    border-radius: 10px;
    resize: none;
}

.field-homework:focus {
    outline: none !important;
    border:1px solid var(--main-blue-color);
}

.lasts{
    display: flex;
    overflow-y: hidden;
    margin-top: 20px;
    width: max-content;
}

.last{
    position: relative;
    margin: 0px;
    margin-right: 270px;
    margin-bottom: 10px;
    max-width: 450px;
    padding-bottom: 12px;
    padding-right: 12px;
    width: max-content;
    height: max-content;
}

.cancel-button{
    border-radius: 1px;
    margin-top: 4px;
    width: 150px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 20px;
    transition: 0.3s linear;
    font: 300 24px 'NoirPro-Medium', sans-serif;
    color: var(--main-blue-color);
    border-color: var(--light-blue-color);
}

.cancel-button:hover{
    background-color: var(--white-blue-color);
    cursor: pointer;
}

.delete-button{
    margin-left: -250px;
    border: 0px;
    margin-top: 4px;
    width: 150px;
    height: 50px;
    background-color: var(--red-color);
    border-radius: 20px;
    transition: 0.3s linear;
    font: 300 24px 'NoirPro-Medium', sans-serif;
    color: var(--white-color);
}

.delete-button:hover{
    background-color: var(--pink-color);
    cursor: pointer;
}

.save-button{
    margin-left: 145px;
    border: 0px;
    margin-top: 4px;
    width: 150px;
    height: 50px;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    transition: 0.3s linear;
    font: 300 24px 'NoirPro-Medium', sans-serif;
    color: var(--white-color);
}


.save-button:hover{
    background-color: var(--white-blue-color);
    cursor: pointer;
}

/*-------------*/
